/* Geral */
:root{
    --branco: white;
    --preto: black;
    --roxinho: rgb(88, 78, 228);
    --roxão: #3B0054;
    --vermelho: red;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    color: var(--branco);
    text-align: center;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

html{/*Tem que escolher qual será referenciado, por que no final body e html sempre vão apontar pro mesmo lugar*/
    background: var(--roxão);
    min-width: 306px;
}

hr{
    width:25%;
    margin: 15px auto;
}

.btn{
    font-weight: bold;
    text-transform: uppercase;
    background: var(--roxão);
    border: none;
    padding: 5px;  
    border-radius: 5px;
}

/* Topo Mobile */

.topo{
    display: flex;/*Sitcky é melhor do que fixed por que toma um espaço melhor da tela fica mais bem aproveitado e não colide com os elemento a baixo*/
    position: sticky;
    z-index: 1;
    top: 0;/*Sempre que definir Sticky tem que colocar onde ele começa, nesse caso, no topo (bem no comecinho)*/
    width:100%;
    flex-flow: row wrap;/*flex-flow é o shortcut de f-direction e f-wrap*/
    justify-content: space-around;/*Com justify-content é bem melhor pra tirar aquele tanto de "margin: 0 auto"; melhor*/
    align-items: center;
    background-color:var(--preto);
    height: 15%;/*Tamanho fixo pro header poder funcionar com propriedade em todos os dispositivos sem precisar mudar muito*/
}

.topo__logo{
    display: inline-block;/*os elementos ocupam obrigatoriamente mais espaço no container, até preencher por completo (dependendo do tamanho de cada um*/
    font-family: 'Fredoka One', cursive;
    color:var(--roxinho);
    font-size: 1.8rem;
}

.topo__logo__img{
    width:64px;
    vertical-align: middle;/*Posto aqui para centralizar a imagem e o título*/
}

.topo__menu{
    display: inline;
}

.topo__menu__item{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-stretch:2.5rem;
    padding: 8px;
    color: var(--branco);
}

.topo__menu__item:hover{
    transition: .3s ease-in;
    color: var(--vermelho);
}

/* Bloco*/
.bloco {
    padding-top: 92px;
    min-height: 100%;
    padding-bottom: 15px;
}

/*Sintomas*/
.sintomas__titulo{
    color: var(--branco);
    font-size: 3rem;
    position: absolute;
    top: 15%;
    width: 100%;
}

.sintomas{
    display:flex;
    flex-flow: row wrap;
    justify-content:flex-start;
}

.sintomas__item--left{
    order:1;
    flex-basis:50%;
}

.sintomas__item--right{
    order:2;
    flex-basis:50%;

}

.sintomas__item__titulo{
    color:var(--roxinho);
    font-size: 1.2rem;
}

.sintomas__item__img{
    width:70%;
    border-radius: 25px;
    margin: 5% 0;
    max-width: 430px;
    min-width:70px;
}

.sintomas__item__outros{
    order: 3;
    padding: 20px 25px;
}

.sintomas__item__outros p{
    text-align: justify;
    color: var(--branco);
}

/*Teste Mobile*/
.teste{
    background: var(--branco);
}

.teste__antes__img{
    width:85%;
    border-radius: 25px;
    max-width: 630px;
}

.teste__antes__titulo1{
    color: var(--vermelho);
    font-size: 2.25rem;
}
.teste__antes__texto1{
    color: var(--preto);
    font-size:1.45rem;
    padding:5px;
}
.teste__antes__texto1--alert{
    color: var(--vermelho);
    font-weight: bold;
}
.teste__btn{
    cursor: pointer;
    font-size: 1.25rem;
}

.teste__depois{
    display: none;
}

.teste__titulo2{
    color:var(--roxão);
    font-size: 1.5rem;
    text-align: center;
}

.teste__pergunta{
    width: 95%;
    border: 1px solid var(--roxão);
    text-align: center;
    padding: 5px;
    font-size: 1.2rem;
    margin:5px auto;
    border-radius: 5px;
}

label{
    color: var(--preto);
}

.teste__pergunta p{
    color: var(--preto);
}

.btnResposta{
    font-size: 1rem;
    margin: 5px;
}

.teste__resultado{
    font-size: 3rem;
    display: none;
}

.teste__resultado__titulo{
    color: var(--roxão);
    font-size: 1.8rem;
}

.teste__resultado__texto1{
    color: var(--preto);
    font-size: 1.5rem;
    padding: 5px;
}

.teste__resultado__img{
    width:85%;
    border-radius: 25px;
    max-width: 630px;
    margin-top:5px;
}

/*Serviços*/
.servicos{
    background:var(--roxão);
}
.servicos__titulo{
    color: white;
    font-size: 3rem;

}

.servicos__cabecalho{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 2rem;
    padding: 10px;
}

.servicos__dicas__item{
    background:white;
    margin: 0 auto;
    margin-bottom: 2%;
    border-radius: 5px;
    width:90%;
    max-width: 600px;
}

.servicos__dicas__item__subtitulo{
    text-align: center;
    text-transform: uppercase;
    color: var(--roxinho);
    font-size: 1.65rem;
    padding:5px;
}

.servicos__img{
    width: 85%;
    max-width: 250px;
}

.servicos__dicas__item__texto{
    color: var(--preto);
    padding-bottom: 2%;
}


/* Breakpoints */
