/* Geral */
:root{
    --branco: white;
    --preto: black;
    --roxinho: rgb(88, 78, 228);
    --roxão: #3B0054;
    --vermelho: red;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    color: var(--branco);
    text-align: center;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

html{/*Tem que escolher qual será referenciado, por que no final body e html sempre vão apontar pro mesmo lugar*/
    background: var(--roxão);
    min-width: 306px;
}

hr{
    width:25%;
    margin: 15px auto;
}

.btn{
    font-weight: bold;
    text-transform: uppercase;
    background: var(--roxão);
    border: none;
    padding: 5px;  
    border-radius: 5px;
}

.btn--red{
    background: var(--vermelho);
}

/* Topo Mobile */

.topo{
    display: flex;/*Sitcky é melhor do que fixed por que toma um espaço melhor da tela fica mais bem aproveitado e não colide com os elemento a baixo*/
    position: sticky;
    z-index: 1;
    top: 0;/*Sempre que definir Sticky tem que colocar onde ele começa, nesse caso, no topo (bem no comecinho)*/
    width:100%;
    flex-flow: row wrap;/*flex-flow é o shortcut de f-direction e f-wrap*/
    justify-content: space-around;/*Com justify-content é bem melhor pra tirar aquele tanto de "margin: 0 auto"; melhor*/
    align-items: center;
    background-color:var(--preto);
    height: 15%;/*Tamanho fixo pro header poder funcionar com propriedade em todos os dispositivos sem precisar mudar muito*/
}

.topo__logo{
    display: inline-block;/*os elementos ocupam obrigatoriamente mais espaço no container, até preencher por completo (dependendo do tamanho de cada um*/
    font-family: 'Fredoka One', cursive;
    color:var(--roxinho);
    font-size: 1.8rem;
}

.topo__logo__img{
    width:64px;
    vertical-align: middle;/*Posto aqui para centralizar a imagem e o título*/
}

.topo__menu{
    display: inline;
    padding-bottom: 10px;
}

.topo__menu__item{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-stretch:2.5rem;
    padding: 8px;
    color: var(--branco);
}

.topo__menu__item:hover{
    transition: .3s ease-in;
    color: var(--vermelho);
}

/* Bloco*/
.bloco {
    padding-top: 100px;
    min-height: 100%;
    padding-bottom: 15px;
}
/*Sintomas*/
.sintomas__titulo{
    color: var(--branco);
    font-size: 3rem;
    width: 100%;
}

.sintomas{
    display:flex;
    flex-flow: row wrap;
    justify-content:center;
}

.sintomas__item{
    border-radius: 5px;
    margin: 0 2%;
    width:100%;
    max-width: 480px;
}

.sintomas__item__titulo{
    color:var(--roxinho);
    font-size: 1.2rem;
}

.sintomas__item__img{
    width:70%;
    border-radius: 25px;
    margin: 2% 0;
    max-width: 365px;
    min-width:70px;
}

.sintomas__item__outros{
    margin-right: auto;
    padding: 20px 30px;
}

.sintomas__item__outros p{
    text-align: justify;
    color: var(--branco);
}

/*Teste Mobile*/
.teste{
    background: var(--branco);
}

.teste__antes__img{
    width:85%;
    border-radius: 25px;
    max-width: 630px;
}

.teste__antes__titulo1{
    color: var(--vermelho);
    font-size: 2.25rem;
}
.teste__antes__texto1{
    color: var(--preto);
    font-size:1.45rem;
    padding:5px;
}
.teste__antes__texto1--alert{
    color: var(--vermelho);
    font-weight: bold;
}
.teste__btn{
    cursor: pointer;
    font-size: 1.25rem;
}

.teste__depois{
    display: none;
}

.teste__titulo2{
    color:var(--roxão);
    font-size: 1.5rem;
}

.teste__pergunta{
    width: 95%;
    border: 1px solid var(--roxão);
    padding: 5px;
    font-size: 1.2rem;
    margin:5px auto;
    border-radius: 5px;
}

label{
    color: var(--preto);
}

.teste__pergunta p{
    color: var(--preto);
}

.btnResposta{
    cursor:pointer;
    font-size: 1rem;
    margin: 5px;
}

.teste__resultado{
    font-size: 3rem;
    display: none;
}

.teste__resultado__titulo{
    color: var(--roxão);
    font-size: 1.8rem;
}

.teste__resultado__texto1{
    color: var(--preto);
    font-size: 1.5rem;
    padding: 5px;
}

.teste__resultado__img{
    width:85%;
    border-radius: 25px;
    max-width: 630px;
    margin-top:5px;
}

/*Serviços*/
.servicos{
    background:var(--roxão);
}
.servicos__titulo{
    color: white;
    font-size: 3rem;

}

.servicos__cabecalho{
    color: rgb(255, 255, 255);
    font-size: 2rem;
    padding: 10px;
}

.servicos__dicas{
    display:flex;
    flex-flow: row wrap;
    justify-content:center;
}

.servicos__dicas__item{
    background:white;
    border-radius: 5px;
    margin: 2% 2%;
    width:100%;
    max-width: 480px;
}

.servicos__dicas__item__subtitulo{
    text-transform: uppercase;
    color: var(--roxinho);
    font-size: 1.65rem;
    padding:2%;
}

.servicos__img{
    width: 85%;
    min-height: 250px;
    max-width: 250px;
}

.servicos__dicas__item__texto{
    color: var(--preto);
    padding: 2%;
}


/*Rodapé*/
.rodape{
    background: var(--preto)
}

.rodape__texto{
    font-size: 1.25rem;
    font-weight: bold;
    padding: 1%;
}

.rodape a{
    font-weight: bold;
    color: var(--roxinho);
}


/* Breakpoints */

/*TABLET*/
@media (min-width: 600px){
.topo__menu__item {
    font-size: 1.15rem;
}
.topo__logo {
    font-size: 2.1rem;
}
.sintomas__titulo {
    font-size: 3.8rem;
}
.sintomas__item__titulo {
    font-size: 1.55rem;
}
.sintomas__item__outros p {
    font-size: 1.15rem;
}
.teste__antes__titulo1 {
    font-size: 2.6rem;
}
.teste__antes__texto1 {
    font-size: 1.55rem;
}
.teste__btn {
    font-size: 1.4rem;
}
.servicos__titulo {
    font-size: 3.8rem;
}
.servicos__cabecalho {
    font-size: 2.15rem;
}
.servicos__dicas__item__subtitulo {
    font-size: 1.8rem;
}
.servicos__dicas__item__texto {
    font-size: 1.4rem;
}
.rodape a {
    font-size: 1.35rem;
}
.rodape__texto {
    font-size: 1.5rem;
}
}
/*TABLET MAIORES*/
@media (min-width: 900px){
    .topo{
        justify-content:space-between;
    }
    .topo__menu{
        margin-right: 5%;
    }
    .topo__menu__item {
        font-size: 1.3rem;
        padding-right:20px;
    }
    .topo__menu__item:last-child {
        padding-right:0;
    }
    .topo__logo {
        font-size: 2.4rem;
        margin-left:5%;
    }
    .sintomas__titulo {
        font-size: 4.1rem;
    }
    .sintomas__item__titulo {
        font-size: 2rem;
    }
    .sintomas__item__outros p {
        font-size: 1.45rem;
    }
    .teste__antes__titulo1 {
        font-size: 3rem;
    }
    .teste__antes__texto1 {
        font-size: 1.8rem;
    }
    .teste__btn {
        font-size: 1.7rem;
    }
    .servicos__titulo {
        font-size: 4rem;
    }
    .servicos__cabecalho {
        font-size: 2.30rem;
    }
    .servicos__dicas__item__subtitulo {
        font-size: 2rem;
    }
    .servicos__dicas__item__texto {
        font-size: 1.65rem;
    }
    .rodape a {
        font-size: 1.45rem;
    }
    .rodape__texto {
        font-size: 2rem;
    }
    }
    